
@font-face {
  font-family: "Google-sans";
  src: url("/font/google_sans_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Google-sans";
  src: url("/font/google_sans_medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Google-sans";
  src: url("/font/google_sans_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: 'Google-sans';

  overflow: hidden;

  user-select: none;
}

*:hover {
  scrollbar-color: rgb(var(--m3-scheme-primary)) transparent;
}

#app {
  height: 100%;
  width: 100%;

  display: flex;
}

/* ::-webkit-scrollbar { width: 6px; height: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--md-sys-color-primary); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--md-sys-color-primary); }
::-webkit-scrollbar-corner { background: transparent; } */