
@font-face {
  font-family: "Google-sans";
  src: url("/font/google_sans_regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Google-sans";
  src: url("/font/google_sans_medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Google-sans";
  src: url("/font/google_sans_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  font-family: 'Google-sans';

  overflow: hidden;

  user-select: none;
}

#app {
  height: 100%;
  width: 100%;

  display: flex;
}

/* ! temporary */
:root,
:host {
  --md-sys-color-background: #0f150d;
  --md-sys-color-on-background: #dfe5d7;
  --md-sys-color-surface: #0f150d;
  --md-sys-color-surface-dim: #0f150d;
  --md-sys-color-surface-bright: #353b32;
  --md-sys-color-surface-container-lowest: #0a1008;
  --md-sys-color-surface-container-low: #171d15;
  --md-sys-color-surface-container: #1b2119;
  --md-sys-color-surface-container-high: #262c23;
  --md-sys-color-surface-container-highest: #31362d;
  --md-sys-color-on-surface: #dfe5d7;
  --md-sys-color-surface-variant: #3f4a3b;
  --md-sys-color-on-surface-variant: #bfcab7;
  --md-sys-color-inverse-surface: #dfe5d7;
  --md-sys-color-inverse-on-surface: #2c3229;
  --md-sys-color-outline: #899482;
  --md-sys-color-outline-variant: #3f4a3b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7bdd69;
  --md-sys-color-primary: #7bdd69;
  --md-sys-color-on-primary: #003a01;
  --md-sys-color-primary-container: #006903;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #006e03;
  --md-sys-color-secondary: #a8d29a;
  --md-sys-color-on-secondary: #14380f;
  --md-sys-color-secondary-container: #22451b;
  --md-sys-color-on-secondary-container: #b2dca3;
  --md-sys-color-tertiary: #9fcaff;
  --md-sys-color-on-tertiary: #003259;
  --md-sys-color-tertiary-container: #005d9e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #4e0004;
  --md-sys-color-error-container: #a3000b;
  --md-sys-color-on-error-container: #ffdad6;
}

/* ::-webkit-scrollbar { width: 6px; height: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--md-sys-color-primary); border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: var(--md-sys-color-primary); }
::-webkit-scrollbar-corner { background: transparent; } */